# Ignore build artifacts
bin/
tmp/
*.log

# Ignore development files
.git/
.serena/
.claude/
.gitignore
*.md
docs/
.prettierrc
.air.toml
compose.yml
Makefile
biome.json
.env*

# Ignore IDE files
.vscode/
.idea/
*.swp
*.swo

# Ignore OS files
.DS_Store
Thumbs.db

# ignore cmd
cmd/check_db/
cmd/seed/
cmd/seed_rooms/
cmd/test_password/

# ignore scripts
scripts/*.sql

# ingnore infrastructore
terraform/
